Repository antonio-ortega/liferay-frontend-projects, changes with the labels that .github/labeler.yml gives for each.
All labels: 10.x, 2.x, 3.x, 8.x, 9.x, amd-loader, changelog-generator, docs, eslint-config, guidelines, jest-junit-reporter, js-insights, js-publish, js-themes-toolkit, js-toolkit, npm-bundler-preset-liferay-dev, npm-scripts, npm-tools, senna

docs(guidelines): add recommendations on state management for React
  guidelines/dxp/react_state_management.md
Labels: docs, guidelines

LPD-78127 Add on to Liferay object, pass timeout as a parameter and run source format
  projects/js-toolkit/packages/js-api/data-set/FDSConnection.ts
  projects/js-toolkit/packages/js-api/liferay.d.ts
Labels: 3.x, js-toolkit

LPD-78127 SF
  projects/js-toolkit/packages/js-api/data-set/FDSConnection.ts
Labels: 3.x, js-toolkit

LPD-96001 Initial proposal
  client-extensions/js-api/README.md
  client-extensions/js-api/data-set/connection.ts
  projects/js-toolkit/packages/js-api/.DS_Store
  projects/js-toolkit/packages/js-api/data-set/cell-renderer.d.ts
  projects/js-toolkit/packages/js-api/data-set/cell-renderer.js
  projects/js-toolkit/packages/js-api/data-set/connection.d.ts
  projects/js-toolkit/packages/js-api/data-set/connection.js
  projects/js-toolkit/packages/js-api/data-set/filter.d.ts
  projects/js-toolkit/packages/js-api/data-set/filter.js
  projects/js-toolkit/packages/js-api/data-set/index.d.ts
  projects/js-toolkit/packages/js-api/data-set/index.js
  projects/js-toolkit/packages/js-api/editor/index.d.ts
  projects/js-toolkit/packages/js-api/editor/index.js
  projects/js-toolkit/packages/js-api/index.d.ts
  projects/js-toolkit/packages/js-api/index.js
Labels: 3.x, docs, js-toolkit

feat(js-api): let a Client Extension take over the filtering of a data set
  client-extensions/js-api/README.md
  client-extensions/js-api/data-set/connection.ts
  client-extensions/js-api/data-set/index.ts
Labels: docs

.github/labeler.yml:

---
# Configures labels to be automatically applied to PRs based on paths.
#
# See: https://github.com/actions/labeler

10.x:
    - projects/js-themes-toolkit/*
    - projects/js-themes-toolkit/**/*

2.x:
    - maintenance/projects/js-toolkit/*
    - maintenance/projects/js-toolkit/**/*

3.x:
    - projects/js-toolkit/*
    - projects/js-toolkit/**/*

8.x:
    - maintenance/projects/js-themes-toolkit-v8-x/*
    - maintenance/projects/js-themes-toolkit-v8-x/**/*

9.x:
    - maintenance/projects/js-themes-toolkit-v9-x/*
    - maintenance/projects/js-themes-toolkit-v9-x/**/*

amd-loader:
    - projects/amd-loader/*
    - projects/amd-loader/**/*

changelog-generator:
    - projects/npm-tools/packages/changelog-generator/*
    - projects/npm-tools/packages/changelog-generator/**/*

docs:
    - '*.md'
    - '**/*.md'

eslint-config:
    - projects/eslint-config/*
    - projects/eslint-config/**/*

guidelines:
    - guidelines/*
    - guidelines/**/*

jest-junit-reporter:
    - projects/npm-tools/packages/jest-junit-reporter/*
    - projects/npm-tools/packages/jest-junit-reporter/**/*

js-insights:
    - projects/npm-tools/packages/js-insights/*
    - projects/npm-tools/packages/js-insights/**/*

js-publish:
    - projects/npm-tools/packages/js-publish/*
    - projects/npm-tools/packages/js-publish/**/*

js-themes-toolkit:
    - projects/js-themes-toolkit/*
    - projects/js-themes-toolkit/**/*
    - maintenance/projects/js-themes-toolkit-v8-x/*
    - maintenance/projects/js-themes-toolkit-v8-x/**/*
    - maintenance/projects/js-themes-toolkit-v9-x/*
    - maintenance/projects/js-themes-toolkit-v9-x/**/*

js-toolkit:
    - maintenance/projects/js-toolkit/*
    - maintenance/projects/js-toolkit/**/*
    - projects/js-toolkit/*
    - projects/js-toolkit/**/*

npm-bundler-preset-liferay-dev:
    - projects/npm-tools/packages/npm-bundler-preset-liferay-dev/*
    - projects/npm-tools/packages/npm-bundler-preset-liferay-dev/**/*

npm-scripts:
    - projects/npm-tools/packages/npm-scripts/*
    - projects/npm-tools/packages/npm-scripts/**/*

npm-tools:
    - projects/npm-tools/*
    - projects/npm-tools/**/*

senna:
    - maintenance/projects/senna/*
    - maintenance/projects/senna/**/*
